In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("/raid/users/ayesilkanat/MSC/SELL-CORPUS/SPEAKER.INFO",sep=" ",header=None,names=["SpeakerId","Gender"])
df=df.sample(frac=1,random_state=13)
df.head()

     SpeakerId Gender
362        947      m
269        988      m
109        524      f
27         136      f
242        895      m

In [3]:
def stats(df):
    print("Size of the dataset: ",len(df))
    print("Count of the male speakers: ",sum(df.Gender=="m"))
    print("Count of the female speakers: ",sum(df.Gender=="f"))
stats(df)

Size of the dataset:  389
Count of the male speakers:  186
Count of the female speakers:  203

In [4]:
train, test = train_test_split(df, test_size=0.2, random_state=13)

train, val = train_test_split(train, test_size=0.2, random_state=1)

In [5]:
print("Train")
stats(train)
print("")

print("Val")
stats(val)
print("")

print("Test")
stats(test)
print("")

Train
Size of the dataset:  248
Count of the male speakers:  125
Count of the female speakers:  123

Val
Size of the dataset:  63
Count of the male speakers:  32
Count of the female speakers:  31

Test
Size of the dataset:  78
Count of the male speakers:  29
Count of the female speakers:  49

In [6]:
train.to_csv("train.csv",index=None)
val.to_csv("val.csv",index=None)

test.to_csv("test.csv",index=None)

In [11]:
speaker_ids=[]
with open("../VCTK/VCTK-Corpus/speaker-info.txt", 'r') as f:
    for i, line in enumerate(f):
        if i == 0:
            continue
        speaker_id = line.strip().split()[0]
        speaker_ids.append(speaker_id)

In [15]:
df.SpeakerId.values

array([ 947,  988,  524,  136,  895,   78,  921,  130,  792,  992,  327,
        980,  562,  142,   69,  119,  547,  597,  167,   62,  102,  504,
        380,  863,  538,  344,  893, 1050,  802,  226,  266,  986,   91,
       1098,  506,  517,  780, 1037,  309,  993,  971, 1067,  519,  104,
       1088,  782,  643, 1011,  979,  771,  283,  510,  290, 1060,  153,
       1027,  484,  101,  689,  738,  288,  603,  299,  300, 1010,  815,
        592, 1021, 1052,  922,  296,  807,  752,  573, 1058,  274,  892,
        996,  695,  704, 1018,  369, 1099,  242, 1059,  767,  156,  531,
        808, 1028,  155,  499,   88,  601,   81,  148,  995, 1074,   58,
        637,  659,  791,  293,  455,  391,  307,  373,  302,  778,  731,
        271,   85, 1000,  824,  848,  579,  621,  956,  660,   92,  705,
       1063,  598,  563,  520,  989, 1116,  770, 1036,  663, 1041,  173,
        716,  567,  128,  267,  976,  305,  858,  221,  522,  396,  794,
       1016,  978,  735, 1046,  313,  276, 1068,  646,  294,  933,  209,
        940, 1004,   66,  588, 1097,  904,  113,  160, 1042, 1084,  844,
        688,  845,  834,  580,  846,  419,  847,  682,  551,  788,  171,
        651,  910,   65,  849,  127, 1094,  416,  286, 1040,  702,  819,
        793, 1033,  501,  140,  759,  170,  483,  629,  783,  295, 1026,
        485,  838,  168,  774,  642,  828,  736,   68, 1101,  681, 1057,
        817,  795,  697,  769,  799,  821,  869,  721,  886,  238,  123,
         99,  837,  839,  804,  630,  493, 1001,  683,  961, 1108, 1075,
        150,  572,  108,  885,  746,  727, 1080,  850,  560, 1096,  303,
       1044, 1053, 1136,  737,  775,  632, 1009,  862,  340,  120, 1066,
        548, 1029,  308,  498, 1065,  816,  814,  925,  762,  744,  187,
       1034,   95,  773,  126,  124,  511,   72,  263,  490,  569, 1007,
        448,  917,  107,  512,  812, 1105, 1095,  149, 1017,  861,  341,
        935,  420,  595,  262,  537,  801,  250,  515,  277,  797, 1103,
        923,  756,  605, 1020, 1048, 1013,   64,  776,  482,  962, 1110,
       1070, 1003, 1031,  265,  279,  785, 1102,  707,  890, 1055,  284,
        135,  631,  134, 1078, 1047,  623, 1062,  665,  376,  589,  653,
       1039,  740,  826,  410,  950,  964,  634,  841,  777, 1064, 1005,
       1019,  609,  718, 1107,  896,  331,  967,  571, 1082,  539,  949,
        129, 1051,  818, 1109,  757,  565,  758, 1030,  125, 1061, 1092,
       1038,   98, 1012,  633,   59,  338,  618,  640,  700,  957, 1054,
       1091, 1087, 1071,  851,  577,  919,  873,  649,  901,  662,  854,
        110,  328,  748, 1100])

In [16]:
set(df.SpeakerId.values.astype(str)).intersection(set(speaker_ids))

{'226',
 '238',
 '250',
 '262',
 '263',
 '265',
 '266',
 '267',
 '271',
 '274',
 '276',
 '277',
 '279',
 '283',
 '284',
 '286',
 '288',
 '293',
 '294',
 '295',
 '299',
 '300',
 '302',
 '303',
 '305',
 '307',
 '308',
 '313',
 '340',
 '341',
 '376'}

In [14]:
set(speaker_ids)

{'225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '236',
 '237',
 '238',
 '239',
 '240',
 '241',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '260',
 '261',
 '262',
 '263',
 '264',
 '265',
 '266',
 '267',
 '268',
 '269',
 '270',
 '271',
 '272',
 '273',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '281',
 '282',
 '283',
 '284',
 '285',
 '286',
 '287',
 '288',
 '292',
 '293',
 '294',
 '295',
 '297',
 '298',
 '299',
 '300',
 '301',
 '302',
 '303',
 '304',
 '305',
 '306',
 '307',
 '308',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '323',
 '326',
 '329',
 '330',
 '333',
 '334',
 '335',
 '336',
 '339',
 '340',
 '341',
 '343',
 '345',
 '347',
 '351',
 '360',
 '361',
 '362',
 '363',
 '364',
 '374',
 '376'}