In [1]:
import pandas as pd

In [112]:
df=pd.read_csv("L2ArcticInfo.txt",sep="\t")
df=df.drop("Audio",axis=1)
df

   Speaker          L1 Gender
0      ABA      Arabic      M
1      SKA      Arabic      F
2     YBAA      Arabic      M
3     ZHAA      Arabic      F
4      BWC    Mandarin      M
5      LXC    Mandarin      F
6      NCC    Mandarin      F
7     TXHC    Mandarin      M
8      ASI       Hindi      M
9     RRBI       Hindi      M
10    SVBI       Hindi      F
11     TNI       Hindi      F
12     HJK      Korean      F
13     HKK      Korean      M
14    YDCK      Korean      F
15    YKWK      Korean      M
16    EBVS     Spanish      M
17    ERMS     Spanish      M
18   MBMPS     Spanish      F
19     NJS     Spanish      F
20    HQTV  Vietnamese      M
21     PNV  Vietnamese      F
22     THV  Vietnamese      F
23     TLV  Vietnamese      M

In [113]:
accents=df.L1.unique()
accents

array(['Arabic', 'Mandarin', 'Hindi', 'Korean', 'Spanish', 'Vietnamese'],
      dtype=object)

In [114]:
train_l1s=[]
val_l1s=[]
test_l1s=[]

In [115]:
for acc in accents:
    female=df[(df.L1==acc) & (df.Gender=="F")].iloc[0,0]
    male=df[(df.L1==acc) & (df.Gender=="M")].iloc[0,0]
    df=df[~df.Speaker.isin([female,male])]
    train_l1s.extend([male,female])

In [116]:
df

   Speaker          L1 Gender
2     YBAA      Arabic      M
3     ZHAA      Arabic      F
6      NCC    Mandarin      F
7     TXHC    Mandarin      M
9     RRBI       Hindi      M
11     TNI       Hindi      F
14    YDCK      Korean      F
15    YKWK      Korean      M
17    ERMS     Spanish      M
19     NJS     Spanish      F
22     THV  Vietnamese      F
23     TLV  Vietnamese      M

In [117]:
for acc in accents:
    
    acc_df=df[(df.L1==acc) ]
    val_=acc_df.iloc[0,0]
    
    val_l1s.append(val_)
    test_=acc_df.iloc[1,0]
    test_l1s.append(test_)

In [118]:
train_l1s

['ABA',
 'SKA',
 'BWC',
 'LXC',
 'ASI',
 'SVBI',
 'HKK',
 'HJK',
 'EBVS',
 'MBMPS',
 'HQTV',
 'PNV']

In [119]:
val_l1s

['YBAA', 'NCC', 'RRBI', 'YDCK', 'ERMS', 'THV']

In [120]:
test_l1s

['ZHAA', 'TXHC', 'TNI', 'YKWK', 'NJS', 'TLV']

In [85]:
df[(df.L1==acc) ].iloc[1,0]

'TLV'

In [1]:
len(['ABA',
 'SKA',
 'BWC',
 'LXC',
 'ASI',
 'SVBI',
 'HKK',
 'HJK',
 'EBVS',
 'MBMPS',
 'HQTV',
 'PNV'])

12